<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdses.mqtthead">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.ravendmaster.linearmqttdashboard.activity.InitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name="com.ravendmaster.linearmqttdashboard.activity.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.linear" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\..*\\.linear" />
            </intent-filter>
        </activity>
        <activity android:name="com.ravendmaster.linearmqttdashboard.activity.WidgetEditorActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.ravendmaster.linearmqttdashboard.activity.ConnectionSettingsActivity"
            android:screenOrientation="landscape"/>

        <service
            android:name="com.ravendmaster.linearmqttdashboard.service.MQTTService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="com.ravendmaster.linearmqttdashboard.service.Autostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <activity android:name="com.ravendmaster.linearmqttdashboard.activity.TabsActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.ravendmaster.linearmqttdashboard.activity.OpenFileActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.ravendmaster.linearmqttdashboard.activity.MainActivityHello"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ravendmaster.linearmqttdashboard.activity.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ravendmaster.linearmqttdashboard.activity.CompareActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ravendmaster.linearmqttdashboard.activity.WifiSetting"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <receiver
            android:name="com.ravendmaster.linearmqttdashboard.receiver.InsuranceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sdses.insurance.speaktts" />
            </intent-filter>
        </receiver>
        <activity android:name="com.ravendmaster.linearmqttdashboard.activity.MapScanActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.ravendmaster.linearmqttdashboard.activity.ImageActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>